/* CustomNavbar.css */
.custom-navbar {
    background-color: #2B3A67; /*Primary Color for Navbar Background*/
  }
  
  .navbar-brand {
    color: #FFFFFF; /* White color for the Brand Name */
  }
  
  .nav-link {
    color: #FFFFFF; /* White color for Navigation Links */
  }

  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
  }
  
  .nav-link:hover  {
    color: #D4A017; /* Gold color on Hover for Navigation Links */
  }

  .nav-link.active:hover {
    color: #D4A017;
  }

  

  /* .nav-link.active {
    color: #FFFFFF;
  } */
  /* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
  } */
  